:root {
    --primary: #9D5E76;
    --secondary: #D1B1BF;
    --tertiary: #F6ECF0;
    --accent1: #E79A7C;
    --font: #3A2B30;
}

body {
    background-color: var(--secondary);
    color: var(--font);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-size: 5em;
    margin: .1em;
}

h2 {
    font-size: 4em;
    justify-self: center;
}

h3 {
    font-size: 2.5em;
    margin-top: 0px;
}

p {
    margin: 0% 15%;
    font-size: 2em;
}

li {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 15px;
}

.ml-10 {
    margin-left: 10%;
}

.mr-10 {
    margin-right: 10%;
}

.mr-5 {
    margin-right:5%;
}

.ml-5 {
    margin-left: 5%;
}

.section {
margin-top: -1%;
/* padding-bottom: 5%; */
}

.border {
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.mt-4 {
    margin-top: 4%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items : center;
    text-align: center;
}

.close {
    justify-content: space-around;
}

.options {
    justify-content: space-evenly;
}

.option {
    border:var(--tertiary) 25px solid;
    border-radius: 20px;
    padding: 2%;
    width: 20%;
    height: 300px;
}

.option:hover {
    background-color: var(--primary);
}

.white-bg {
    background-color: var(--tertiary);
}

.bottom {
    padding-bottom: 10%;
    font-size: 1.5em;
}

.graphic{
    height: 20em;
}


footer {
    height: 20%;
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

button {
    background-color: var(--primary);
    color: var(--tertiary);
    border: none; 
    font-size: 2em; 
    margin-top: 1%;
    padding: 40px;
    border-radius: 90px;
    font-weight:bold;
}

button:hover {
    background-color: var(--accent1);
    color: var(--font);
}


form {
    margin-top:10%;
}

input {
    /* color: var(--tertiary); */
    background-color: var(--tertiary);
}

label {
    font-size: 2em;
    margin-top: 0px;
}

input {
    width: 500px;
    height: 2em;
}


.icon-button {
    height: 10px;
    border-radius: 20px;
    font-size: 1.5em;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5%;
}